body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Footer {
  font-size: small;
}

.Navbar .navbar .navbar-brand {
  font-size: large;
}

.navbar {
  background-color: #dcaae9;
}

.App {
  text-align: center;
}

